.skill-card{

  padding:.8rem 1.2rem;

  background:rgba(255,255,255,.05);

  border:1px solid var(--glass-border);

  border-radius:999px;

  transition:.3s;

}
  
.skill-card:hover{

  transform:translateY(-4px);

  box-shadow:var(--shadow-glow);

}