.hero{

  min-height:85vh;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 8%;

  gap:4rem;

  position:relative;

}

.hero-content{

  flex:1;

}

.hero-image{

  flex:1;

  display:flex;

  justify-content:center;

  align-items:center;
}

.profile-circle{

  width:280px;

  height:280px;

  border-radius:50%;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:4rem;

  font-weight:bold;

  color:white;

  background:var(--glass-bg);

  border:1px solid var(--glass-border);

  backdrop-filter:blur(12px);

  box-shadow:var(--shadow-glow);

  animation:float 4s ease-in-out infinite;

}

.hero::before{

  content:"";

  position:absolute;

  width:350px;

  height:350px;

  border-radius:50%;

  background:var(--accent-primary);

  filter:blur(180px);

  opacity:.15;

  top:10%;

  right:5%;

  z-index:-1;

}

.hero-badge{

  display:inline-block;

  padding:.5rem 1rem;

  margin-bottom:1.5rem;

  border-radius:999px;

  background:var(--glass-bg);

  border:1px solid var(--glass-border);

  color:var(--accent-secondary);

  font-size:.9rem;

}

.hero-greeting {

  color: var(--accent-secondary);

  font-size: 1.1rem;

  margin-bottom: 1rem;

}

.hero-title {

  font-size: clamp(4rem, 8vw, 7rem);

  font-weight: 800;

  line-height: 1;

  margin-bottom: 1rem;

  background: linear-gradient(90deg,
      var(--accent-primary),
      var(--accent-secondary));

  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;

}

.hero-subtitle {

  font-size: 2rem;

  color: var(--text-secondary);

  max-width: 700px;

  margin-bottom: 1rem;

}

.hero-description{

  max-width:650px;

  line-height:1.9;

  color:var(--text-secondary);

  font-size:1.1rem;

  margin-top:1rem;

}

.hero-buttons {

  display: flex;

  gap: 1rem;

  margin-top: 2rem;

}

.primary-btn{

  padding:1rem 2rem;

  border:none;

  border-radius:var(--radius);

  background:
  linear-gradient(
    90deg,
    var(--accent-primary),
    var(--accent-secondary)
  );

  color:white;

  cursor:pointer;

  font-weight:600;

  transition:.3s;

}

.primary-btn:hover{

  transform:translateY(-5px);

  box-shadow:
    0 0 30px rgba(124,92,255,.4);

}

.secondary-btn{

  padding:1rem 2rem;

  border-radius:var(--radius);

  border:1px solid var(--glass-border);

  background:var(--glass-bg);

  color:white;

  cursor:pointer;

  transition:.3s;

}

.secondary-btn:hover {

  transform: translateY(-5px);

}

@keyframes float {

  0%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-15px);
  }

  100%{
    transform:translateY(0);
  }

}