.skills{

    min-height:80vh;
  
    padding:6rem 8%;
  
  }
  
  .skills h2{
  
    font-size:3rem;
  
    margin-bottom:3rem;
  
  }
  
  .skills-grid{
  
    display:grid;
  
    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));
  
    gap:1.5rem;
  
  }